@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.avatarContainer {
    position: relative;
    display: inline-block;
}

.editButton {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: white;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}