$primary: #bb4853;
$primary-dark: #5d2228;
$primary-dark-2: #a8414b;
$primary-light-1: #8c363e;
$primary-light-2: #eac6ca;
$primary-light-3: #f5e4e5;
$primary-light-4: #f8edee;
$primary-light-5: #fefbfe;
$primary-light-6: #e6e1e5;
$primary-light-7: #ff99ac;
$primary-light-8: #fffbfe;
$white: #ffffff;
$black-1: #09243b;
$black-2: #2e2c34;
$black-3: #313033;
$black-4: #111827;
$black-5: #484649;
$grey: #5c6b77;
$grey-2: #605062;
$grey-dark: #28303f;
$grey-light-1: #e6eaee;
$grey-light-2: #bec1ce;
$grey-light-3: #84818a;
$grey-light-4: #fbfafc;
$grey-light-5: #787579;
$grey-light-6: #f2f4f7;
$grey-light-7: #f9fafb;
$grey-light-8: #d0d5dd;
$grey-light-9: #f4eff4;
$grey-light-10: #e5e7eb;
$grey-light-11: #9ca3af;
$green: #14b13b;
$red: #ef4444;
$yellow: #fffaeb;
