@import './abstracts/mixins';
@import './abstracts/variables';

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $grey-light-3;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($blue, 40%);
    border-radius: 1rem;
    &:hover {
      background-color: lighten($blue, 30%);
    }
  }
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%; // 1rem : 10px since 10px/16px = 0.625
  color: $black-1;
  @include respond(tab-portrait) {
    font-size: 50%;
  }
}
